extends layout

block content

    .site-section.bg-light
        .container
            .row.align-items-stretch.retro-layout-2
                .col-md-4.image-margin-small
                    a.h-entry.mb-30.v-height.gradient(href="/politics" style="background-image: url('images/category/politics.jpg');")
                        .text
                            h2.post-category.text-white.bg-secondary POLITICS
                            //- span.date July 19, 2019
                    a.h-entry.v-height.gradient(href="/travel" style="background-image: url('images/category/travel.jpg');")
                        .text
                            h2.post-category.text-white.bg-danger TRAVEL
                            //- span.date July 19, 2019
                .col-md-4.center-img
                    a.h-entry.img-5.h-100.gradient(href="/tech" style="background-image: url('images/category/tech.jpg');")
                        .text
                            h2.post-category.text-white.bg-success TECHNOLOGY
                            //- span.date July 19, 2019
                .col-md-4
                    a.h-entry.mb-30.v-height.gradient(href="/sports" style="background-image: url('images/category/sports.jpg');")
                        .text
                            h2.post-category.text-white.bg-primary SPORTS
                            //- span.date July 19, 2019
                    a.h-entry.v-height.gradient(href="/entertainment" style="background-image: url('images/category/entertainment.jpg');")
                        .text
                            h2.post-category.text-white.bg-warning ENTERTAINMENT
                            //- span.date July 19, 2019
    .site-section
        .container
            .row.mb-5
                .col-12
                    h2 Recent Posts
            .row
                each post in posts.slice(0, 6)
                    .col-lg-4.mb-4
                        .entry2
                            a(href=`/posts/${post.slug}`)
                                img#cardImg.img-fluid.rounded(src=`/images/posts/${post.coverImage}` alt=`${post.title}`)
                            .excerpt
                                - if (post.category === 'Politics')
                                    span.post-category.text-white.bg-secondary= post.category
                                - if (post.category === 'Travel')
                                    span.post-category.text-white.bg-danger= post.category
                                - if (post.category === 'Sport')
                                    span.post-category.text-white.bg-primary= post.category
                                - if (post.category === 'Entertainment')
                                    span.post-category.text-white.bg-warning= post.category
                                - if (post.category === 'Technology')
                                    span.post-category.text-white.bg-success= post.category
                                | 
                                h2
                                    a(href=`/posts/${post.slug}`)= post.title
                                .post-meta.align-items-center.text-left.clearfix.mb-3
                                    //- figure.author-figure.mb-0.mr-3.float-left
                                    //-     img.img-fluid(src="images/person_1.jpg" alt=`${post.title}`)
                                    span.d-inline-block.mt-1
                                        | By 
                                        span(style="padding-right: 3px; color: #000")= post.author 
                                    span= post.createdAt.toLocaleString('de-de', {day: 'numeric', month: 'long', year: 'numeric'})
                                p= post.description
                                p
                                    a(href=`/posts/${post.slug}`) Read More
    

            //- .row.text-center.pt-5.border-top
            //-     .col-md-12
            //-         .custom-pagination
            //-             span 1
            //-             a(href="#") 2
            //-             a(href="#") 3
            //-             a(href="#") 4
            //-             span ...
            //-             a(href="#") 15
    .site-section.bg-light
        .container
            .row.mb-5
                .col-12
                    h2 More Posts
            .row.align-items-stretch.retro-layout
                
                .col-md-5.order-md-2
                    a.hentry.img-1.h-100.gradient(href="single.html" style="background-image: url('images/img_4.jpg');")
                        span.post-category.text-white.bg-danger Travel
                        .text
                            h2 The 20 Biggest Fintech Companies In America 2019
                            span February 12, 2019
                .col-md-7
                    .two-col.d-block.d-md-flex.mb-4
                        a.hentry.v-height.img-2.gradient(href="single.html" style="background-image: url('images/img_2.jpg');")
                            span.post-category.text-white.bg-primary Sports
                            .text.text-sm
                                h2 The 20 Biggest Fintech Companies In America 2019
                                span February 12, 2019
                        a.hentry.v-height.img-2.ml-auto.gradient(href="single.html" style="background-image: url('images/img_3.jpg');")
                            span.post-category.text-white.bg-secondary Politics
                            .text.text-sm
                                h2 The 20 Biggest Fintech Companies In America 2019
                                span February 12, 2019
                    .two-col.d-block.d-md-flex
                        a.hentry.v-height.img-2.gradient(href="single.html" style="background-image: url('images/img_2.jpg');")
                            span.post-category.text-white.bg-success Technology
                            .text.text-sm
                                h2 The 20 Biggest Fintech Companies In America 2019
                                span February 12, 2019
                        a.hentry.v-height.img-2.ml-auto.gradient(href="single.html" style="background-image: url('images/img_3.jpg');")
                            span.post-category.text-white.bg-warning Entertainment
                            .text.text-sm
                                h2 The 20 Biggest Fintech Companies In America 2019
                                span February 12, 2019
