extends layout

block content
    .site-cover.site-cover-sm.same-height.overlay.single-page(style="background-image: url('/images/img_2.jpg');")
      .container
        .row.same-height.justify-content-center
          .col-md-12.col-lg-10
            .post-entry.text-center
              //- span.post-category.text-white.bg-success.mb-3 Nature
              h1.mb-4= post.title
              .post-meta.align-items-center.text-center
                //- figure.author-figure.mb-0.mr-3.d-inline-block
                //-   img.img-fluid(src="/images/person_1.jpg" alt="Image")
                span.d-inline-block.mt-1= post.author
                | 
                | - 
                span= post.createdAt.toLocaleString('de-de', {day: 'numeric', month: 'long', year: 'numeric'})
    section.site-section.py-lg
      .container
        .post-content-body
          p= post.description
          p= post.introduction
          .row.mb-5.mt-5
            .col-md-6.mb-4
              img.img-fluid.rounded(src="/images/img_2.jpg" alt="Image placeholder")
            .col-md-6.mb-4
              img.img-fluid.rounded(src="/images/img_3.jpg" alt="Image placeholder")
          p= post.content
        .pt-5
          p
            | Categories: 
            a(href="#") Food
            | , 
            a(href="#") Travel
            |  Tags:
            a(href="#") #manila
            | , 
            a(href="#") #asia
        .pt-5
          h3.mb-5 6 Comments
          ul.comment-list
            li.comment
              .vcard
                img(src="/images/person_1.jpg" alt="Image placeholder")
              .comment-body
                h3 Jean Doe
                .meta January 9, 2018 at 2:21pm
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing
                  | elit. Pariatur quidem laborum necessitatibus, ipsam
                  | impedit vitae autem, eum officia, fugiat saepe enim
                  | sapiente iste iure! Quam voluptas earum impedit
                  | necessitatibus, nihil?
            li.comment
              .vcard
                img(src="/images/person_1.jpg" alt="Image placeholder")
              .comment-body
                h3 Jean Doe
                .meta January 9, 2018 at 2:21pm
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing
                  | elit. Pariatur quidem laborum necessitatibus, ipsam
                  | impedit vitae autem, eum officia, fugiat saepe enim
                  | sapiente iste iure! Quam voluptas earum impedit
                  | necessitatibus, nihil?

          // END comment-list
          .comment-form-wrap.pt-5
            h3.mb-5 Leave a comment
            form.p-5.bg-light(action="#")
              .form-group
                label(for="name") Name *
                input#name.form-control(type="text")
              .form-group
                label(for="email") Email *
                input#email.form-control(type="email")
              .form-group
                label(for="website") Website
                input#website.form-control(type="url")
              .form-group
                label(for="message") Message
                textarea#message.form-control(name="" cols="30" rows="10")
              .form-group
                input.btn.btn-primary(type="submit" value="Post Comment")