extends layout

block content
    .site-cover.site-cover-sm.same-height.overlay.single-page(style=`background-image: url('/images/posts/${post.coverImage}')`)
      .container
        .row.same-height.justify-content-center
          .col-md-12.col-lg-10
            .post-entry.text-center
              //- span.post-category.text-white.bg-success.mb-3 Nature
              h1.mb-4= post.title
              .post-meta.align-items-center.text-center
                //- figure.author-figure.mb-0.mr-3.d-inline-block
                //-   img.img-fluid(src="/images/person_1.jpg" alt="Image")
                span.d-inline-block.mt-1= post.author
                | 
                | - 
                span= post.createdAt.toLocaleString('de-de', {day: 'numeric', month: 'long', year: 'numeric'})
    section.site-section.py-lg
      .container
        .post-content-body
          p= post.description
          p= post.introduction
          if post.images[0, 1]
            .row.mb-5.mt-5
              .col-md-6.mb-4
                  img#post-images.img-fluid.rounded(src=`/images/${post.images[0]}` alt="Image placeholder")
              .col-md-6.mb-4
                img#post-images.img-fluid.rounded(src=`/images/${post.images[1]}` alt="Image placeholder")
          p= post.content
        .pt-5
          p
            | Categories: 
            a(href="#") Food
            | , 
            a(href="#") Travel
            |  Tags:
            a(href="#") #manila
            | , 
            a(href="#") #asia
        .pt-5
          h3.mb-5 Comments
          ul.comment-list
            each comment in post.comments
              li.comment
                .vcard
                  - if (user.profileImg)
                    img(src=`/images/users/${comment.user.profileImg}` alt=`${comment.user.name}`)
                  - if (!user.profileImg)
                    img(src='/images/users/default.png' alt=`${comment.user.name}`)

                .comment-body
                  h3=comment.user.name
                  .meta= comment.createdAt.toDateString()
                  p= comment.comment

          // END comment-list
          if user
            .comment-form-wrap.pt-5
              h3.mb-5 Leave a comment
              form.comment-form

                .form-group
                  input#commentUserId.form-control.rounded(type="text" value=`${user.id}` style="display: none")
                .form-group
                  input#commentPostId.form-control.rounded(type="text" value=`${post.id}` style="display: none")

                .form-group
                  textarea#comment-message.form-control(name="" cols="30" rows="10" placeholder="Type here...")
                .form-group
                  input.btn.btn-primary(type="submit" value="Post Comment")

          else 
            .comment-form-wrap.pt-5
              h5.mb-5 
                a.btn.btn-outline-primary.rounded.mr-3(href="/auth") Login 
                span to write comments