extends layout

block content 

    .py-5.bg-primary
        .container
            .row
                .col-md-6.text-white
                    span Category
                    h3.text-white Sports
                    p
                        | Category description here.. Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Aliquam error eius quo, officiis
                        | non maxime quos reiciendis perferendis doloremque maiores!
    .site-section.bg-white
        .container
            .row
                each post in posts
                    .col-lg-4.mb-4
                        .entry2
                            a(href=`/posts/${post.slug}`)
                                img#cardImg.img-fluid.rounded(src=`/images/${post.coverImage}` alt=`${post.title}`)
                            .excerpt
                                h2
                                    a(href=`/posts/${post.slug}`)= post.title
                                .post-meta.align-items-center.text-left.clearfix.mb-3
                                    //- figure.author-figure.mb-0.mr-3.float-left
                                    //-     img.img-fluid(src="images/person_1.jpg" alt="Image")
                                    span.d-inline-block.mt-1
                                        | By 
                                        a(style="padding-right: 3px; color: #000")= post.author 
                                        | 
                                    span= post.createdAt.toLocaleString('de-de', {day: 'numeric', month: 'long', year: 'numeric'})
                                p= post.description
                                p
                                    a(href=`/posts/${post.slug}`) Read More