extends ../layout

block content

    .site-section.bg-light
        .container
            .account-profile
                .row
                    .col-md-3.mr-auto.order-md-1.border-right
                        h3.text-center.pb-3= user.name
                        ul.list-group.list-group-flush.pb-3
                            li.list-group-item.bg-light.active
                                a.text-dark(href="/account") Settings
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-posts") Posts
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-comments") Comments

                        - if (user.role === 'admin')
                            h5.text-center.pb-2 Admin
                            ul.list-group.list-group-flush
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-users") All Users
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-posts") All Posts
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-comments") All Comments
                                hr.pb-3

                    .col-md-9.order-md-2
                        .row
                            .col-md-1
                            .col-md-10
                                h3.px-5.pb-5.pt-2 Account Settings
                            .col-md-1

                        .row
                            .col-md-2
                            .col-md-8
                                form.update-user-data.px-5.pb-3
                                    if user.profileImg
                                        img.img-fluid.profile-image(src=`images/${user.profileImg}` alt=`Photo of ${user.name}`)
                                    else
                                        h5 Upload profile Photo 
                                    
                                    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
                                    .input-group.mt-1
                                        .custom-file
                                            input#updateUserPhoto.custom-file-input(type="file")
                                            label.custom-file-label(for="updateUserPhoto") Change/Upload photo ...
                                    script.
                                        $('#updateUserPhoto').on('change',function(){
                                        //get the file name
                                        var fileName = $(this).val();
                                        //replace the "Choose a file" label
                                        $(this).next('.custom-file-label').html(fileName);
                                        })
                                        
                                    
                                    label.text-black.mt-3(for="updateUserName") Name
                                    input#updateUserName.form-control.rounded(type="text" value=`${user.name}`)
                                
                                    label.text-black.mt-3(for="updateUserEmail") Email
                                    input#updateUserEmail.form-control.rounded(type="email" value=`${user.email}`)

                                    .d-flex.justify-content-end.mt-3
                                        input.btn.btn-primary.py-2.px-4.rounded(type="submit" value="Update")
                            .col-md-2
                        hr

                        .row
                            .col-md-1
                            .col-md-10
                                h3.px-5.pb-5.pt-2 Change Password
                            .col-md-1

                        .row
                            .col-md-2
                            .col-md-8
                                form.update-user-password.px-5.pb-3
                                    
                                    label.text-black.mt-3(for="currentPass") Current Password
                                    input#currentPass.form-control.rounded(type="password" placeholder="••••••••••••")
                                
                                    label.text-black.mt-3(for="newPass") New Password
                                    input#newPass.form-control.rounded(type="password" placeholder="••••••••••••")

                                    label.text-black.mt-3(for="confirmNewPass") Confirm New Password
                                    input#confirmNewPass.form-control.rounded(type="password" placeholder="••••••••••••")

                                    .d-flex.justify-content-end.mt-3
                                        input#update.btn.btn-primary.py-2.px-4.rounded(type="submit" value="Update")
                            .col-md-2