extends ../layout

block content

    .site-section.bg-light
        .container
            .account-profile
                .row
                    .col-md-3.mr-auto.order-md-1.border-right
                        h3.text-center.pb-3= user.name
                        ul.list-group.list-group-flush.pb-3
                            li.list-group-item.bg-light
                                a.text-secondary(href="/account") Settings
                            li.list-group-item.bg-light
                                    a.text-secondary(href="/new-post") New Post
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-posts") My Posts
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-comments") My Comments

                        - if (user.role === 'admin')
                            h5.text-center.pb-2 Admin
                            ul.list-group.list-group-flush
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-users") All Users
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-posts") All Posts
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-comments") All Comments
                                hr.pb-3

                    .col-md-9.order-md-2
                        .row
                            .col-md-1
                            .col-md-10
                                h3.px-5.pb-3.pt-2 Edit Post
                            .col-md-1

                        .row
                            .col-md-1
                            .col-md-10
                                form.update-post.px-5.pb-3
                                    input#updatePostId(type="text" value=`${post.id}` style="display: none")
                                    if post.coverImage
                                        img.img-fluid.rounded.my-1.w-100(src=`/images/posts/${post.coverImage}` alt=`Photo of ${post.title}`)
                                    else
                                        h5 Upload cover image

                                    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

                                    .input-group
                                        .custom-file
                                            input#updatePostCoverImage.custom-file-input(type="file")
                                            label.custom-file-label(for="updatePostCoverImage") Change cover image ..
                                    
                                    label.text-black.mt-3(for="updatePostTitle") Title
                                    input#updatePostTitle.form-control.rounded(type="text" value=`${post.title}`)

                                    label.text-black.mt-3(for="updatePostAuthor") Author
                                    input#updatePostAuthor.form-control.rounded(type="text" value=`${post.author}`)

                                    label.text-black.mt-3(for="updatePostCategory") Category
                                    input#updatePostCategory.form-control.rounded(type="text" value=`${post.category}`)

                                    label.text-black.mt-3(for="updatePostDescription") Description
                                    input#updatePostDescription.form-control.rounded(type="text" value=`${post.description}`)

                                    label.text-black.mt-3(for="updatePostIntroduction") Introduction
                                    textarea#updatePostIntroduction.form-control.rounded(type="text" rows="5")= post.introduction
                                    
                                    if post.contentImage1
                                        h5.mt-3 Content image 1
                                        img.img-fluid.rounded.my-1.w-100(src=`/images/posts/${post.contentImage1}` alt=`Photo of ${post.title}`)
                                    else
                                        h5 Upload first content/body image

                                    .input-group
                                        .custom-file
                                            input#updatePostContentImages1.custom-file-input(type="file")
                                            label.custom-file-label(for="updatePostContentImages1") Change content Image 1

                                    if post.contentImage2
                                        h5.mt-3 Content image 2
                                        img.img-fluid.rounded.my-1.w-100(src=`/images/posts/${post.contentImage2}` alt=`Photo of ${post.title}`)
                                    else
                                        h5 Upload second content/body image
                                        
                                    .input-group
                                        .custom-file
                                            input#updatePostContentImages2.custom-file-input(type="file")
                                            label.custom-file-label(for="updatePostContentImages2") Change content Image 2

                                    script.
                                        $('#updatePostCoverImage, #updatePostContentImages1, #updatePostContentImages2').on('change',function(){
                                        //get the file name
                                        var filename = $(this).val();
                                        //replace the "Choose a file" label
                                        $(this).next('.custom-file-label').html(filename);
                                        })
                                
                                    label.text-black.mt-3(for="postContent") Content
                                    textarea#updatePostContent.form-control.rounded(type="text" rows="15")= post.content

                                    .d-flex.justify-content-end.mt-3
                                        input.btn.btn-primary.py-2.px-4.rounded(type="submit" value="Create")
                            .col-md-1

                        