extends ../layout

block content

    .site-section.bg-light
        .container
            .account-profile
                .row
                    .col-md-3.mr-auto.order-md-1.border-right
                        h3.text-center.pb-3= user.name
                        ul.list-group.list-group-flush.pb-3
                            li.list-group-item.bg-light
                                a.text-secondary(href="/account") Settings
                            li.list-group-item.bg-light
                                    a.text-secondary(href="/new-post") New Post
                            li.list-group-item.bg-light.active
                                a.text-dark(href="/my-posts") My Posts
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-comments") Comments

                        - if (user.role === 'admin')
                            h5.text-center.pb-2 Admin
                            ul.list-group.list-group-flush
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-users") All Users
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-posts") All Posts
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-comments") All Comments
                                hr.pb-3

                    .col-md-9.order-md-2
                        h3 My Posts
                        hr
                        each post in posts
                            .row 
                                .col-md-1
                                    .excerpt
                                        - if (post.category === 'Politics')
                                            span.post-category.text-white.bg-secondary(style="text-indent: -9999px;")
                                                small= post.category
                                        - if (post.category === 'Travel')
                                            span.post-category.text-white.bg-danger(style="text-indent: -9999px;")
                                                small= post.category
                                        - if (post.category === 'Sport')
                                            span.post-category.text-white.bg-primary(style="text-indent: -9999px;")
                                                small= post.category
                                        - if (post.category === 'Entertainment')
                                            span.post-category.text-white.bg-warning(style="text-indent: -9999px;")
                                                small= post.category
                                        - if (post.category === 'Technology')
                                            span.post-category.text-white.bg-success(style="text-indent: -9999px;")
                                                small= post.category
                                .col-md-9
                                    a(href=`/posts/${post.slug}`)
                                        h5= post.title

                                .col-md-2.d-flex.justify-content-end
                                    a.btn.btn-sm.btn-warning.rounded.mb-2.mr-2#editPost(href=`/edit-post/${post.slug}`) Edit
                                    form.delete-post(method='POST' action=`/api/v1/posts/delete/${post.id}?_method=DELETE`)
                                        input.btn.btn-sm.btn-danger.rounded.mb-2#deletePost(href="#" type="submit" value="Delete" onclick='return confirm("Are you sure you want to delete this Post? (Cannot be undone);")')
                                    
                            hr